.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #fafafa;

  &__content {
    display: flex;
    align-items: center;
  }

  &__image {
    flex: 0 0 50%;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__info {}

  &__title {
    margin-bottom: 20px;

    span {
      display: block;
    }
  }

  &__descr {
    margin-bottom: 32px;
    font-size: 14px;
    line-height: 171%;
    color: var(--text-color);

    p {
      margin: 0;

      &:not(:last-child) {
        margin-bottom: 16px;
      }
    }
  }

  &__price {
    margin-bottom: 16px;

    .price__label {
      display: block;
      font-size: 12px;
      line-height: 183%;
      color: var(--text-color);
    }

    .price__current {
      font-size: 24px;
    }

    .price__old {
      font-weight: 300;
      font-size: 22px;
      color: var(--light-text-color);
    }
  }
}
