<header class="header">
  <div class="promo header__promo">
    <div class="container promo__container">
      <p class="promo__text">Скидка 10% по промокоду “ZAMOK” на все заказы до 10.09</p>
      <button class="btn-reset promo__btn callback-btn" data-graph-path="callback">Обратный звонок</button>
    </div>
  </div>
  <div class="main-header header__main">
    <div class="container main-header__container">
      <a href="/" class="logo main-header__logo">
        <img loading="lazy" src="img/header-logo.svg" class="image" width="50" height="42" alt="Логотип Golden Soft">
      </a>
      <div class="main-header__wrapper">
        <nav class="nav main-header__nav" title="Главное меню">
          <ul class="list-reset nav__list">
            <li class="nav__item"><a href="#" class="nav__link">Главная</a></li>
            <li class="nav__item">
              <button class=" btn-reset nav-btn nav__btn">
                <span class="nav-btn__text">Каталог</span>
                <svg class="nav-btn__icon">
                  <use xlink:href="img/sprite.svg#arrow-down"></use>
                </svg>
              </button>
              <div class="dropdown">
                <ul class="dropdown__list">
                  <li class="dropdown__item"><a href="#" class="dropdown__link">Накладные электронные замки</a></li>
                  <li class="dropdown__item"><a href="#" class="dropdown__link">Врезные электронные замки</a></li>
                  <li class="dropdown__item"><a href="#" class="dropdown__link">Замки для квартиры</a></li>
                  <li class="dropdown__item"><a href="#" class="dropdown__link">Замки для дома</a></li>
                  <li class="dropdown__item"><a href="#" class="dropdown__link">Замки для отелей</a></li>
                  <li class="dropdown__item"><a href="#" class="dropdown__link">Замки для офиса</a></li>
                  <li class="dropdown__item"><a href="#" class="dropdown__link">Замки для шкафчиков</a></li>
                  <li class="dropdown__item"><a href="#" class="dropdown__link">Замки для раздевалок</a></li>
                </ul>
                <a href="#" class="dropdown__btn btn">Смотреть все</a>
              </div>
            </li>
            <li class="nav__item"><a href="#" class="nav__link">Оптовая продажа</a></li>
            <li class="nav__item"><a href="#" class="nav__link">О нас</a></li>
          </ul>
        </nav>
        <div class="main-header__phones">
          <a href="tel:+79665588499" class="phone main-header__phone">+7 (966) 55 88 499</a>
          <button class="btn-reset callback-btn callback-btn--mobile" data-graph-path="callback">Обратный звонок</button>
        </div>
      </div>
      <div class="shop-nav main-header__shop-nav">
        <div class="favorites main-header__favorites">
          <button class="btn-reset favorites__btn">
            <svg>
              <use xlink:href="img/sprite.svg#heart"></use>
            </svg>
          </button>
        </div>
        <div class="cart main-header__cart">
          <button class="btn-reset cart__btn">
            <svg>
              <use xlink:href="img/sprite.svg#cart"></use>
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
</header>
