<section class="hero">
  <div class="hero__wrapper">
    <div class="container hero__container">
      <h1 class="visually-hidden">Магазин замков GoldenSoft</h1>
      <div class="hero__body swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="hero__content">
              <div class="hero__image">
                <picture>
                  <source srcset="img/hero-image01.avif" type="image/avif">
                  <source srcset="img/hero-image01.webp" type="image/webp">
                  <img loading="lazy" src="img/hero-image01.png" width="512" height="519" alt="Замок дверной для офиса">
                </picture>
              </div>
              <div class="hero__info">
                <h2 class="section-title hero__title">Golden Soft <span>GS-200Z-5 для офиса</span></h2>
                <div class="hero__descr">
                  <p>
                    Замок дверной электронный Golden Soft GS-200Z-5 имеет роскошный глянцевый блеск, четкие линии, красивые формы.
                  </p>
                  <p>Подходит для установки на деревянную/межкомнатную дверь.</p>
                </div>
                <div class="price hero__price">
                  <span class="price__label">Цена</span>
                  <span class="price__current">33 000₽</span>
                  <span class="price__old">37 000₽</span>
                </div>
                <button class="btn-reset btn">Добавить в корзину</button>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="hero__content">
              <div class="hero__image">
                <picture>
                  <source srcset="img/hero-image02.avif" type="image/avif">
                  <source srcset="img/hero-image02.webp" type="image/webp">
                  <img loading="lazy" src="img/hero-image02.png" width="512" height="519" alt="Замок дверной для офиса">
                </picture>
              </div>
              <div class="hero__info">
                <h2 class="section-title hero__title">Golden Soft <span>GS-200Z-5 для отелей</span></h2>
                <div class="hero__descr">
                  <p>
                    Замок дверной электронный Golden Soft GS-200Z-5 имеет роскошный глянцевый блеск, четкие линии, красивые формы.
                  </p>
                  <p>Подходит для установки на деревянную/межкомнатную дверь.</p>
                </div>
                <div class="price hero__price">
                  <span class="price__label">Цена</span>
                  <span class="price__current">33 000₽</span>
                  <span class="price__old">37 000₽</span>
                </div>
                <button class="btn-reset btn">Добавить в корзину</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
