<section class="hero">
  <div class="hero__wrapper">
    <div class="container hero__container">
      <div class="hero__body swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="hero__content">
              <div class="hero__image">
                <picture>
                  <source srcset="img/hero-image01.avif" type="image/avif">
                  <source srcset="img/hero-image01.webp" type="image/webp">
                  <img loading="lazy" src="img/hero-image01.png" width="512" height="519" alt="Замок дверной для офиса">
                </picture>
              </div>
              <div class="hero__info">
                asdasdads
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
