// если вы хотите использовать sass-переменные - удалите root
// colors
:root {
  // base
  --font-family: "SF-Pro-Text", sans-serif;
  --content-width: 1240px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  // colors
  --light-color: #fff;
  --main-color: #4295e4;
  --dark-color: #161c24;
  --text-color: #454f5b;
}
